/* video {
  height:calc(100vh - 4px);
  width:calc(100vw);
  box-sizing: border-box;
} */

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.container-fluid {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  height: calc(50vh)!important;
  color: #fff;
  padding-top: 35vh;
  font-size: 60px;
}

.btn {
  background: #fff;
  width: 100px;
  height: 50px;
  font-weight: 700;
  color: #ED2939;
}

button:hover {
  color: #ED2939!important;
}

.buttons {
  background: #ED2939;
  width: 11.2%;
  padding: 3px 3px;
  margin: 0 auto;
}

.bg {
  background: #ED2939!important;
}
